body {
    font-size: 20px;
    color: #343434;
    font-family: Helvetica, Arial, "Times New Roman";
}
.degree {
    display: block;
    font-weight: bold;
    text-transform: uppercase; /* Random comment */
}
aside {
    background-color: #26547c;
    color: #FFF;
}
.mainTitles {
    background-color: #7da1c4;
}

.mainTitles h1 {
    color: #FFF;
}

.mainTitles h2 {
    color: #e6f5f7;
}

.remark {
    background-color: #efb22d;
    color: #FFF;
}

