body{
  font-size: 20px; /* todo lo de body tendra este tamaño */
  color: #343434; /* todo lo de body tendra este color */
  font-family: Helvetica, Arial, "Times New Roman"; /*todo lo de body tendra este tipo de letra */
}
/* Degree es una nueva clase, empieza con . lo demás son las reglas que sigue la clase*/
.degree{
  display: block; /* abarca toda la pantalla */
  font-weight: bold; /* hace que las letras sean negritas */
  text-transform: uppercase; /* hace que todo este en mayúsculas */
}
