body {
    font-size: 20px;
    color: #343434;
    font-family: Helvetica, Arial, "Times New Roman";
    background-color: lightgrey;
}
.degree {
    display: block;
    font-weight: bold;
    text-transform: uppercase; /* Random comment */
}
aside {
    background-color: #26547c;
    color: #FFF;
    width: 50%;
    position: absolute;
    left: 10px;
    width: 30%;
    display: inline-block;
}

aside img {
    width: 80%;
    border-radius: 100%;
    margin: 40px 40px;
  
}


aside a,
aside a:link,
aside a:visited {
    color: lightseagreen;
    text-decoration: none;
}
aside a:hover {
    text-decoration: underline;
}

aside a:active {
    color: lightyellow;
}

main {
    position: relative;
    left: 450px;
    width: 68%;
    display: inline-block;
}
.social a {
    text-decoration: none;
}

.social i {
    color: #FFF;
    font-size: 1.15em;
}

.mainTitles {
    background-color: #7da1c4;
    /*padding: 20px 0 20px 0; */
   /*padding: 20px 0; */
   padding: 20px 0;
   /*padding: 20px*/
   text-align: center;
   
}

.mainTitles h1 {
    color: #FFF;
}

.mainTitles h2 {
    color: #e6f5f7;
}

.remark {
    background-color: #efb22d;
    color: #FFF;
}

