.table_monday {
  text-align: center;
  border: none;
  border-spacing: 5px;
}
.monday th {
  background-color: #b7c3d0;
}
.monday .hour {
  font-weight: normal;
}
.monday th,
.monday td {
  border-radius: 5px;
  border: none;
}
.monday .registry_recess_coctel {
  background-color: #9999cc;
}
.monday .bold {
  font-weight: bold;
}
.monday .i {
  font-style: italic;
}
.monday .exi {
  font-style: oblique;
}
.monday .inaguration {
  background-color: #c0c0c0;
}
.monday .conference {
  background-color: #e6e6ff;
}
.monday .workshop {
  background-color: #9999ff;
}
.monday .informal {
  background-color: #ccccff;
}
.monday .tutorial {
  background-color: #9cf;
}

.wednesday {
    background-color: aliceblue;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: center;
    font-family: Helvetica, Arial, "Times New Roman";
    width: 100%

}
.wednesday th {
    background-color: lightblue;
}
.wednesday tbody {
    background-color: lightgoldenrodyellow;
}

.wednesday .empty {
    background-color: aliceblue;
}

.wednesday .pink {
    background-color: lightpink;
}

.wednesday .grey {
    background-color: lightgray;
}

.wednesday .coral {
    background-color: lightcoral;
}

.wednesday .green {
    background-color: lightgreen;
}

.wednesday .blue {
    background-color: lightseagreen;
}

.wednesday .salmon {
    background-color: lightsalmon;
}
