.wednesday {
    background-color: aliceblue;
}
.wednesday th {
    background-color: lightblue;    
}

.wednesday .pink {
    background-color: lightpink;
}

.wednesday .grey {
    background-color: lightgray;
}



