* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}
footer {
  background-color: lightgrey;
  bottom: 0;
  color: #666;
  position: fixed;
  width: 100%;
}
footer nav,
footer div {
  border: 1px solid grey;
  padding: 10px 20px;
}
footer li {
  display: inline-block;
  margin-right: 10px;
}
footer a,
footer a:link,
footer a:visited {
  text-decoration: none;
  color: #666;
}
footer a:hover {
  text-decoration: underline;
}
footer a:active {
  color: red;
}
footer ul:first-of-type {
  float: left;
}
footer ul:last-of-type{
  float: right;
}
.nav_top li {
  display: inline-block;
  margin-right: 10px;
}
.nav_top a,
.nav_top a:link,
.nav_top a:visited {
  color: black;
  text-decoration: none;
}
.nav_top a:hover {
  text-decoration: underline;
}
.nav_top button{
  background-color: #4385f9;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 5px 14px;
}
.nav_top {
  text-align: right;
  padding: 10px 20px 0 0;
}
.main_content {
  width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
}
.main_content img,
.main_content input,
.buttons {
  display: block;
  margin: 13px auto;
}
.buttons button {
  padding: 7px 15px;
  border: none;
  background-color:
}
.main_content input {
  width: 100%;
  padding: 5px;
  box-shadow: -5px 5px 10px lightgrey
}
footer nav {
  overflow: auto;
}
