* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer nav,
footer div{
    border: 1px solid grey;
}
footer li{
    display: inline-block;
    margin: 0 10px;
}
