* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    background-color: lightgrey;
    bottom: 0;
    color: #666;
    position: fixed;
    width: 100%;
}
footer nav,
footer div{
    border: 1px solid grey;
    padding: 10px 20px;
    overflow: auto;
}
footer li{
    display: inline-block;
    margin-right: 10px;
}
footer a,
footer a:link,
footer a:visited {
    color: #666;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer a:active {
    color: red;
}
footer ul:first-of-type {
    float: left;
}
footer ul:last-of-type {
    float: right;
}

.navTop {
    text-align: right;
    padding: 10px 20px 0 0;
}
.navTop li {
    display: inline-block;
    margin-right: 10px;
}
.navTop a,
.navTop a:link,
.navTop a:visited {
    color: black;
    text-decoration: none;
}
.navTop a:hover {
    text-decoration: underline;
}
.navTop button {
    background-color: #4385f9;
    color: #FFF;
    padding: 6px 15px;
}
.mainContent {
    width: 600px;
    margin: 240px auto;
    text-align: center;
}
.mainContent img,
.mainContent input,
.buttons {
    display: block;
    margin: 20px auto;
}
.mainContent input {
    width: 100%;
    padding: 5px;
    box-shadow: -5px 5px 15px 1px #b54d8c;
}
.buttons button {
    padding: 7px 15px;
}
