* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navtop {
  position:
}
.footerclass {
  position: fixed;
  bottom: 0px;
  background-color: lightgrey;
  left: 0;
  right: 0;
}
.navbottom {
  border: 1px solid grey;
}
footer li {
  display: inline-block;
}
footer a {
  text-decoration: none;
  color: grey;
}
.nav_class1 {

}
.nav_class2 {
  
}
